<main class="form-signin">

    <h1 class="h3 mb-3 fw-normal head-line">Please sign in</h1>

    <div class="form-floating">
      <input
        [(ngModel)]="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        type="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        [(ngModel)]="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        type="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button (click)="login()" class="w-100 btn btn-lg btn-primary" routerLink="/users" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted head-line">&copy; 2022, NoVig</p>

</main>
