<main class="row">
  <div
    class="col-2 d-flex flex-column flex-shrink-0 side-bar p-3"
  >
    <a
      class="text-decoration-none text-center"
      routerLink="/"
    >
      <span class="fs-4">NoVig Logo</span>
    </a>
    <hr/>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a aria-current="page" class="nav-link logout-button active" routerLink="users">
          Users
        </a>
      </li>
      <li class="nav-item logout">
        <a style="cursor: pointer" aria-current="page" class="nav-link logout-button" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
  <div class="user-list col-10 p-4">
    <router-outlet></router-outlet>
  </div>
</main>
