<div>
  <h4>Users</h4>
  <hr>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Verified</th>
      <th scope="col">Role</th>
      <th scope="col">Registered On</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users;let i=index">
      <td>{{i + 1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone || '--'}}</td>
      <td>{{user.isVerified ? 'Yes' : 'No'}}</td>
      <td>{{user.role}}</td>
      <td>{{user.createdAt | date: 'medium'}}</td>
    </tr>
    </tbody>
  </table>

</div>
